<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.listeners.TestListeners" />
	</listeners>

	<test thread-count="5" name="Test">
		<parameter name="browserName" value="Chrome"></parameter>

		<classes>
			<!--<class name="com.test.PeopleinCustomerPageTest" />-->
			<!--<class name="com.test.SettingPageTest" />-->
			<!--<class name="com.test.StorePageTest" />-->
			<!--<class name="com.test.ProductPageTest" />-->
			<!--<class name="com.test.PeopleinSupplierPageTest" />-->
			<!--<class name="com.test.PeopleinWaiterPageTest" />-->
			<class name="com.test.LoginPageTest"/>
			<!--<class name="com.test.ExpensePageTest" />-->
			<!--<class name="com.test.LogoutPageTest" />-->
			<!--<class name="com.test.HomePageTest" />-->
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
